<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issued Books Report</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Issued Books Report</h1>
    <ul>
    {% for record in issued_books %}
        <li>{{ record['Username'] }} - {{ record['BookTitle'] }}</li>
    {% endfor %}
    </ul>
</body>
</html>
